# dependencies
/node_modules
/training-in-nodejs-codelab/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/acorn
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/acorn.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/acorn.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/ansi-html
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/ansi-html.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/ansi-html.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/browserslist
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/browserslist-lint
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/browserslist-lint.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/browserslist-lint.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/browserslist.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/browserslist.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/check-clang-format
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/check-clang-format.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/check-clang-format.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/clang-format
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/clang-format.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/clang-format.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/color-support
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/color-support.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/color-support.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/envinfo
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/envinfo.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/envinfo.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/git-clang-format
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/git-clang-format.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/git-clang-format.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/import-local-fixture
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/import-local-fixture.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/import-local-fixture.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/is-docker
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/is-docker.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/is-docker.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/mime
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/mime.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/mime.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/mkdirp
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/mkdirp.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/mkdirp.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/multicast-dns
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/multicast-dns.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/multicast-dns.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/node-pre-gyp
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/node-pre-gyp.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/node-pre-gyp.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/node-which
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/node-which.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/node-which.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/nopt
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/nopt.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/nopt.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/resolve
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/resolve.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/resolve.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/rimraf
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/rimraf.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/rimraf.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/semver
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/semver.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/semver.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/terser
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/terser.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/terser.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/tfjs-custom-module
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/tfjs-custom-module.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/tfjs-custom-module.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/uuid
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/uuid.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/uuid.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/webpack
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/webpack-cli
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/webpack-cli.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/webpack-cli.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/webpack-dev-server
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/webpack-dev-server.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/webpack-dev-server.ps1
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/webpack.cmd
TensorFlow/training-in-nodejs-codelab/node_modules/.bin/webpack.ps1
TensorFlow/training-in-nodejs-codelab/package.json
TensorFlow/training-in-nodejs-codelab/webpack.config.js
